.side-bar {   
    margin-top: 15px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    float: right;
    padding: 10px;
    background-color: #F2F2F2;
    color: #333333;
}
.new-post {
    border-radius: 5px;
}

li{
     list-style: none;
     line-height: 2rem;
     cursor: pointer;
 }

ul {
    padding-inline-start: 0px;
    text-align: center;
}